@import "ui-variables";

csound-help {
  background-color: @pane-item-background-color;
  font-size: 1.2em;
  overflow: auto;
  padding: 2em;

  // From https://github.com/atom/markdown-preview/tree/master/styles
  atom-text-editor {
    margin: 1.5em 0;
    padding: 1em;
    border-radius: 3px;
    background-color: contrast(@syntax-background-color, lighten(@syntax-background-color, 4%), darken(@syntax-background-color, 4%));
  }
}

csound-message-history {
  background-color: @pane-item-background-color;
  overflow: auto;
  pre {
    background-color: inherit;
    font-size: @font-size;
    line-height: 1.5;
    .highlight,
    .highlight-info,
    .highlight-success,
    .highlight-warning,
    .highlight-error {
      padding-left: 0;
      padding-right: 0;
    }
    .csound-message-underline {
      text-decoration: underline;
    }
    // These colors are from the image at
    // https://github.com/chalk/ansi-styles/blob/master/screenshot.png
    .csound-message-foreground-black {
      color: rgb(100, 100, 100);
    }
    .csound-message-foreground-red {
      color: rgb(252, 171, 171);
    }
    .csound-message-foreground-green {
      color: rgb(189, 230, 191);
    }
    .csound-message-foreground-yellow {
      color: rgb(254, 224, 144);
    }
    .csound-message-foreground-blue {
      color: rgb(155, 203, 243);
    }
    .csound-message-foreground-magenta {
      color: rgb(238, 199, 236);
    }
    .csound-message-foreground-cyan {
      color: rgb(146, 233, 233);
    }
    .csound-message-foreground-white {
      color: rgb(229, 229, 229);
    }
    .csound-message-background-black {
      background-color: rgb(100, 100, 100);
    }
    .csound-message-background-red {
      background-color: rgb(244, 143, 144);
    }
    .csound-message-background-green {
      background-color: rgb(171, 211, 173);
    }
    .csound-message-background-yellow {
      background-color: rgb(254, 211, 133);
    }
    .csound-message-background-blue {
      background-color: rgb(124, 172, 211);
    }
    .csound-message-background-magenta {
      background-color: rgb(214, 174, 213);
    }
    .csound-message-background-cyan {
      background-color: rgb(125, 212, 213);
    }
    .csound-message-background-white {
      background-color: rgb(215, 215, 215);
    }
  }
}

.axis {
  line,
  path {
    fill: none;
    stroke: @text-color;
    shape-rendering: crispEdges;
  }
  text {
    fill: @text-color;
  }
}

.line {
  fill: none;
  stroke: @background-color-info;
  stroke-width: 1px;
}
